[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/thingymodulecreate-sources.git
[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/thingymodulecreate-output.git
[submodule "testing/source/ultracoolesmodule"]
	path = testing/source/ultracoolesmodule
	url = git@github.com:JhonnyJason/thingymodulecreate-ultracoolesmodule.git
